:root {
  --white-color: #fff;
  --primary-color: #f2a365;
  --border-radius: 0;
  --black-color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* Navbar start */
.navbar {
  background: linear-gradient(
    90deg,
    rgba(1, 1, 1, 0.81) 27.46%,
    rgba(1, 1, 1, 0.47) 50%
  );
  z-index: 2;
}

.navbar-nav .active {
  color: var(--primary-color) !important;
}

.navbar .nav-item .nav-link {
  color: var(--white-color);
  font-family: Lato !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
}
/* Navbar end */

/* Hero start */
.defaultHero {
  background: linear-gradient(
      90deg,
      rgba(1, 1, 1, 0.81) 27.46%,
      rgba(1, 1, 1, 0.47) 50%
    ),
    url('./img/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  padding-bottom: 40px;
  padding-top: 800px;
  /* Change margin-top on mobile */
  margin-top: -100px;
  z-index: 3;
}
/* Hero end */

/* Banner start */
.banner h1 {
  margin-top: -412px;
  font-family: Lato !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f2a365;
  text-transform: uppercase;
  padding-left: 15px;
}

.banner h2 {
  font-family: Merriweather !important;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #e5e5e5;
  text-transform: capitalize;
  padding-left: 15px;
}
.banner .btn-dark {
  margin-top: 77px;
  border: 2px solid var(--primary-color);
  font-family: Merriweather !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  height: 50px !important;
  background: transparent !important;
  color: var(--primary-color);
}

.banner .img_1 {
  margin-right: 64px;
}

.banner .shape_1 {
  position: absolute;
  left: 1050px;
  padding-top: 15px;
}

.banner .shape_2 {
  position: absolute;
  left: 730px;
  padding-top: 15px;
}

.banner .shape_3 {
  position: absolute;
  left: 334px;
  padding-top: 15px;
}

/* Banner end */

/* Services start */
.services {
  padding-top: 80px;
  padding-bottom: 13px;
  background: #222831;
}

.services h2,
.achieve h2 {
  padding-top: 38px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 40px;
  color: var(--primary-color);
}

.services p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.services h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.services .no-gutters {
  padding-top: 25px;
}

.no-gutters:hover {
  cursor: pointer;
}
/* Services end */

/* Archivements start */
.achieve {
  background: url('./img/archievements-banner.svg') center/cover fixed;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-color: #333840;
  padding-bottom: 80px;
}

.achieve p {
  font-family: Lato !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120.5%;
  text-align: center;
  color: var(--white-color);
  padding: 0 80px;
}

.achieve h5 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  color: var(--primary-color);
}

.achieve h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--white-color);
  margin-top: -15px;
}
/* Archivements end */

/* Clients start */
.clients {
  padding-top: 80px;
  padding-bottom: 205px;
  background: #222831;
}

.clients h2 {
  padding-top: 38px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 40px;
  color: var(--primary-color);
}

.clients p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.clients .img_1 {
  padding-top: 80px;
}

.clients .img_2 {
  position: absolute;
  top: 40px;
  left: 110px;
}

.clients .img_3 {
  position: absolute;
  top: 158px;
  left: 460px;
}

.clients .margin_top {
  margin-top: -260px;
}

.margin_top p {
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
}

.client_name {
  padding-top: 18px;
}

.clients .shape_1 {
  position: absolute;
  left: 950px;
  padding-top: 100px;
}

.clients .shape_2 {
  position: absolute;
  left: 690px;
  padding-top: 100px;
}

.clients .shape_3 {
  position: absolute;
  left: 350px;
  padding-top: 100px;
}

.two-dots {
  margin-top: 145px;
}
/* Clients end */

/* Book-form start */
.book-form {
  margin-top: -50px;
  text-align: center;
}
/* Book-form end */

.hire {
  padding: 80px 0;
  margin-top: -165px;
  background: #222831;
  padding-top: 38px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 40px;
  color: var(--primary-color);
}

.hire p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.hire .img_1 {
  margin-top: -80px;
}
/* Hire end */

/* BookForm start */
.book-form {
  background: url('./img/i-am-available-bg.png') center/cover no-repeat fixed;
  background-color: #333840;
}

.book-form .img_1 {
  background: url('./img/clipper.png') no-repeat;
  background-size: var(--primary-color);
  padding-bottom: 446px;
  margin-top: 65px !important;
}

.forms {
  padding-top: 120px;
}

.book-form .form-control-lg {
  background: #e5e5e5 !important;
  border: 2px solid #c4c4c4 !important;
  box-sizing: border-box;
  height: 66px;
  border-radius: 0;
}

.form-group input {
  font-family: Lato !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.book-form .margin_top {
  margin-top: -15px;
}

.book-form .margin_top2 {
  margin-top: -40px;
}

.book-form .margin_top3 {
  margin-top: -15px;
}

.arrow {
  position: relative;
  top: -46px;
  left: -25px;
}

.book-form .time {
  position: relative;
  top: -46px;
  left: 14px;
}

.book-form .symbol {
  position: relative;
  top: -46px;
  right: 280px;
}

.book-form .btn-outline-dark {
  border: 2px solid var(--primary-color) !important;
  font-family: Merriweather;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-color) !important;
  margin-top: 13px !important;
}
/* BookForm end */

/* Footer start */
.bg-footer {
  padding-top: 80px;
  padding-bottom: 10px;
  background: #222831;
}

.contact p,
.address p {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.bg-footer .img_1,
.bg-footer .contact,
.bg-footer .address {
  padding-top: 35px;
}

.icon_1,
.icon_2,
.icon_3 {
  background-color: #c4c4c4;
  margin-top: 35px !important;
}

.copyright {
  border-top: 2px solid #c4c4c4;
  margin-top: 25px;
}

.copyright p {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 15px;
}

.scroller {
  margin-top: -60px;
}
/* Footer end */

@media (max-width: 375px) {
  .services {
    margin-top: -305px !important;
  }
}

/* Navbar */
@media (max-width: 768px) {
  .navbar-nav > li {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  /* Hero & banner start */
  .defaultHero {
    background: linear-gradient(
        90deg,
        rgba(1, 1, 1, 0.81) 27.46%,
        rgba(1, 1, 1, 0.47) 50%
      ),
      url('./img/hero.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat !important;
    margin-top: -340px;
    z-index: 3;
  }

  .banner h1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-top: -420px !important;
  }

  .banner h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .banner .btn-dark {
    margin-top: 36px;
    height: 25px !important;
    font-weight: normal;
    font-size: 10px;
    line-height: 3px;
  }

  .banner .img_1 {
    margin-top: -25px;
  }
  /* Hero & banner end */

  /* Services start */
  .services {
    margin-top: -260px;
    text-align: center !important;
  }
  /* Services end */

  /* clients start */
  .clients {
    margin-top: -70px;
  }
  .clients h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: -15px;
  }

  .clients p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .clients .img_2 {
    position: relative;
    left: 0px !important;
    margin-left: 30px !important;
    padding-top: 290px !important;
    width: 80% !important;
    margin-top: -100px;
  }

  .clients .align {
    position: relative;
    left: 0px !important;
  }

  .clients .quote {
    margin-left: 70px;
  }

  .client_name {
    margin-left: 160px !important;
    padding-top: 50px;
  }
  /* clients end */

  /* Footer start */

  .bg-footer .address {
    display: flex;
    order: -2;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .bg-footer .contact {
    display: flex;
    order: -1;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -20px;
  }

  .bg-footer .photo {
    display: flex;
    order: -3;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
  }

  /* Footer end */
}

@media (max-width: 768px) {
  .book-form .forms {
    position: relative;
    right: 50px;
    margin-top: -80px;
  }
  .book-form .margin_top3 {
    margin-top: -15px !important;
  }

  .book-form .mg_bottom {
    margin-bottom: -15px !important;
  }

  .test {
    margin-left: 100px;
  }

  .clients .mg_top {
    position: relative;
    top: -80px !important;
  }
  .clients .img_1 {
    padding-top: 500px;
  }

  .clients .img_2 {
    position: relative;
    top: -720px;
    left: 180px;
  }

  .clients .align {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    position: relative;
    top: -450px;
    right: 170px;
  }

  .client_name {
    text-align: center;
    right: 200px;
    margin-top: -480px;
  }

  .quote {
    position: relative;
    right: 80px;
    top: -450px;
  }

  .two-dots {
    margin-top: -180px;
  }

  .hire {
    margin-top: -350px;
  }
}

@media (max-width: 1024px) {
  .banner .test {
    display: none !important;
  }
}

@media (max-width: 1125px) {
  .clients .shape_1,
  .clients .shape_2,
  .clients .shape_3 {
    display: none !important;
  }
}

@media (max-width: 1255px) {
  .clients .img_3 {
    display: none !important;
  }
}

@media (max-width: 1400px) {
  .book-form .margin_top3 {
    margin-top: -40px;
  }
}

@media (max-width: 2560px) {
  .book-form .margin_top3 {
    margin-top: -40px;
  }
}
